.header {
    height: 7%;
    width: 70%;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 100%;
    width: 120px;
    background-image: url(https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header input {
    height: 60%;
    width: 500px;
    padding: 10px;
    border: none;
    padding-left: 34px;
}

.header input[type="text"]:focus {
    box-shadow: 0 0 7px 0;
    border: none;
    outline: none;
}

.header button {
    height: 70%;
    width: 60px;
    font-size: 16px;
    border: none;
    color: grey;
    cursor: pointer;
}

.searchbar-container {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar-container i {
    position: absolute;
    left: 5px;
    font-size: 22px;
}