.modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 28, 28, 0.753);
    position: absolute;
    z-index: 99;
}

.login-signup {
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    padding-top: 50px;
    border-radius: 15px;
}

.cross {
    left: 98%;
    bottom: 98%;
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgb(224, 127, 127);
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 1;
    font-size: 36px;
}

.login-signup input[type=text],
input[type=submit] {
    height: 50px;
    padding: 10px;
    font-size: 22px;
    margin: 16px 15px 16px 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.login-signup input[type=submit] {
    background-color: rgb(94, 189, 137);
}